<section data-title>
  <h1>
    I am the homepage
  </h1>
</section>

<section data-content>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias consequatur perferendis architecto, odit commodi consequuntur totam ex, beatae saepe, ea est error at sequi. Consequatur placeat tenetur soluta nulla deleniti.</p>
</section>

<section data-footer>
  <small>&copy; 2020 Lynx labs</small>
</section>