<section data-title>
  <h1>
    The Second Slide
  </h1>
</section>

<section data-content>
  <img src="http://placekitten.com/600/400" alt="">
</section>

<section data-footer>
  <p><strong><em>A cat!</em></strong></p>
</section>