<section data-title>
  <h1>
    The Last Slide
  </h1>
</section>

<section data-content>
  <p>Et fugit temporibus possimus magni, voluptas rem animi dolores. Voluptate reiciendis impedit itaque blanditiis ullam. Cum cumque ex laboriosam dolor nihil voluptates delectus vitae, soluta enim autem placeat eius nobis.</p>
  <p>Aliquid earum at commodi ut corrupti consequuntur eius perspiciatis tempora rerum sequi ipsam deleniti hic, laboriosam, esse eos, maiores nihil adipisci reiciendis id praesentium. Consectetur ducimus ipsam deleniti iusto error.</p>
</section>

<section data-footer>
  <h2>
    Thank you!
  </h2>
</section>