<footer class="site-footer">
  <nav data-controls>
    <button data-nav data-direction="prev">{{copy.nav.prev}}</button>
    <button data-modal-open data-modal="1">References</button>
    <button data-nav data-direction="next">{{copy.nav.next}}</button>
  </nav>
</footer>