<div data-modal id="modal-References" data-active="false" class='modal_container'>
  <button data-modal-close data-modal="References" class="overlay"></button>
  <div class="modal">
    <button data-modal-close data-modal="References">Close</button>
    <div class="card">
      <h1>
        References
      </h1>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nisi, illum saepe quod voluptates culpa id nostrum unde!</li>
        <li>Dolorum magni pariatur voluptatem corporis soluta explicabo, quasi suscipit fuga recusandae temporibus, mollitia, vel porro possimus doloremque facilis.</li>
        <li>Aperiam harum officiis ad, a praesentium architecto voluptatibus accusamus omnis impedit magnam? Inventore laboriosam tempore vero deleniti ducimus?</li>
        <li>Odit distinctio expedita qui earum quo, repellat rerum! Similique soluta nisi delectus. Consequuntur similique vero perferendis error optio.</li>
        <li>Ad recusandae quia, ut officia ipsa suscipit inventore repellendus. Perferendis labore, debitis ducimus alias aspernatur magni ad explicabo.</li>
        <li>Veritatis neque magni fugiat, quam in aperiam dicta numquam officiis corrupti beatae quaerat repellat vel cupiditate officia illum.</li>
        <li>Eius dolore amet reiciendis natus repellendus dolores minus, sit, eum aliquam accusamus excepturi cumque. Repellat voluptatibus voluptatem unde?</li>
        <li>Distinctio corrupti quasi enim minus commodi aspernatur itaque laboriosam dolore, tenetur accusantium, ad atque, eum neque nihil reprehenderit.</li>
        <li>Labore pariatur sed obcaecati, quos porro, voluptas ipsam impedit quam expedita at dolorum, amet excepturi fuga officiis alias?</li>
        <li>Tempora praesentium sequi temporibus sunt voluptas minima dolorum cupiditate ipsam. Unde voluptatibus deleniti molestiae natus iure omnis ex.</li>
        <li>Vero placeat eius repellendus necessitatibus quos ut est reiciendis! Illum eaque excepturi ipsa cum laboriosam eos saepe facilis.</li>
        <li>Vitae porro delectus laboriosam, tempora sapiente ea, vel fuga fugiat, natus autem dicta id magnam quod eum quam.</li>
        <li>Sit minus cumque illum, sequi nam provident vitae recusandae in nisi officia dicta neque obcaecati adipisci iusto molestias!</li>
        <li>Recusandae vel pariatur eaque sunt, delectus blanditiis incidunt adipisci explicabo voluptatum quasi, ea autem id, saepe quam fuga?</li>
        <li>Repudiandae ex ab asperiores expedita fuga voluptatem praesentium. Voluptates, magnam aspernatur? Expedita, nisi in facilis repudiandae consectetur ex.</li>
        <li>Adipisci quis, eius exercitationem enim quam odio maiores, eveniet ea temporibus ut velit. Facilis, doloremque. Nostrum, enim libero.</li>
        <li>Libero ad totam aut harum, maxime tenetur rem sed ipsum eius nulla nam, pariatur ratione quaerat nostrum dicta.</li>
        <li>Tenetur atque, libero aliquam id deserunt fugit ipsum nobis natus reprehenderit! Alias nam asperiores repudiandae voluptatum non consequatur.</li>
        <li>Corrupti perspiciatis odio qui provident quis laboriosam ea, vitae voluptas doloremque fuga quidem dolore facere? Voluptatum, vel? Vero.</li>
        <li>Sint corporis recusandae corrupti eum magni officiis vitae rem beatae aliquid consequuntur mollitia error consequatur dicta, repellat ipsum!</li>
        <li>A quod repellat atque exercitationem libero temporibus neque quibusdam vel, omnis voluptatem voluptatum, quidem quasi! Laborum, corrupti repellendus.</li>
      </ul>
    </div>
  </div>
</div>